.h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 55px;
    margin-left: 3%;
    margin-top: 15%;
    margin-bottom: 10%;
    text-align: center;
}
.form{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 30px; 
}
.general{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-content: center;
}
.gral{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
}
.submit{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.name input{
    margin-bottom: 2%;
    margin-left: 17%;
    font-family: 'Cinzel Decorative', cursive;
   
    width: 200px;
    height: 45px;
}
.subject input{
    margin-left: 10%;
    width: 200px;
    height: 45px;
    font-family: 'Cinzel Decorative', cursive;
   
    margin-bottom: 2%;
}
.email input{
    margin-left: 14%;
    width: 200px;
    height: 45px;
    font-family: 'Cinzel Decorative', cursive;
   
    margin-bottom: 2%;
}
.textarea{
    width: 500px;
    height: 250px;
   margin: 10px 90px 10px 10px;
   font-family: 'Cinzel Decorative', cursive;
   font-size: 20px;
}

.submit{
    height: 50px;
    width: 100px;
    border: none;
    background-color: #E1BEB8;
    border-radius: 3px;
    margin-bottom: 20px;
}
.social{
   display: flex;
    flex-direction: row; 
    margin: auto;
    justify-content: center;
    margin-bottom: 10%;
}
.social img{
    
    width: 100px;
    margin: 2%;
}
.social a{
    margin: 50px;
}
.download{
    border: #E1BEB8;
    background-color: #E1BEB8;
    color: #24222D;
    align-self: center;
    align-items: center;
    margin: auto;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 600;
    box-shadow: 0 0 5px 1px rgba(29, 28, 28, 0.389);
}
.divbutton{
    align-self: center;
}
.textA{
    margin: auto;
    margin-right: 10%;
}


@media (max-width:1000px){
    .h1{
        font-size: 45px;
    }
    .general{
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .textA{
        margin: auto;
        align-self: auto;
        align-content: center;
        margin-left: 15%;
    }
}

@media(max-width:780px){
    .h1{
        font-size: 40px;
    }
    .social a{
        margin: 10px;
    }
    .social img{
        width: 70px;
    }
    .download{
        width: 100px;
    }
    .textA{
        
        margin-left: 3%;
    }
    .textarea{
        width: 350px;
    }
}

@media (max-width:480px){
    .h1{
        font-size: 25px;
    }
    .social a{
        margin-left: 10%;
    }
    .social img{
        width: 50px;

    }
    .download{
        font-size: 10px;
        width: 70px;
        margin: auto;
    }
   .textarea{
    display: none;
   }
   .name{
    display: none;
   }
   .email{
    display: none;
   }
   .subject{
    display: none;
   }
   .submit{
    display: none;
   }
}