.h1{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 55px;
    text-align: center;
    padding-top: 7% ;
}

.p{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5%;
}
.fadein {
    animation: fadein 2s;
  }
@keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  
  @media (max-width:600px){
    .h1{
      font-size: 30px;
    }
    .p{
      font-size: 16xp;
    }
  }