.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    
    .dark-mode .navbar {
    background-color: #6D625E;
    color: #fff;
    }
    
    .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    }
    
    .navbar li {
    margin: 0 10px 0 30px;
    }
    
    .navbar a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    }
    
    .dark-mode .navbar a {
    color: #fff;
    }
    
    .navbar a:hover {
    color: #E1BEB8;
    }
    
    .dark-mode .navbar a:hover {
    color: #E1BEB8;
    }

    
    @media (max-width: 480px) {
    .navbar {

    flex-direction: row;
    
    align-items:center;
    text-align: center;
    width: 100%;
   padding: 0%;
    }
    
    .navbar ul {
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    margin-top: 2px ;
    margin-bottom: 0px;
    
    }
    
    .navbar li {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    }
    }
    
    @media (max-width: 768px) {
    .navbar {
        width: 100%;
    flex-wrap: wrap;
    }
    
    .navbar ul {
    flex-basis: 100%;
    }
    }
    