/* App.css */

:root {
  --bg-color-light: #F6F3EC;
  --text-color-light: #24222D;
  --link-color-light: #5D635F;
  --bg-color-dark: #24222D;
  --text-color-dark: #F6F3EC;
  --link-color-dark: #E1BEB8;  
  --navbar-bg-color-light: #fff;
  --navbar-text-color-light: #333;
  --navbar-bg-color-dark: #333;
  --navbar-text-color-dark: #fff;
}

body {
  
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

a {
  color: var(--link-color-light);
}

.dark-mode {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  --link-color: var(--link-color-dark);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark-mode a {
  color: var(--link-color);
}

  
  .dark-mode .navbar {
  background-color: #333;
  color: #fff;
  }
  
  .dark-mode .navbar a {
  color: #fff;
  }
  
  
  .dark-mode .navbar a:hover {
  color: #FFDBDB;
  }
  
